.l-features .row > div:first-child .card-title:before {
  content: '😃 ';
}

.l-features .row > div:nth-child(2) .card-title::before {
  content: '😎 ';
}

.l-features .row > div:last-child .card-title::before {
  content: '🤩 ';
}
